<mat-card class="tienda-container">
  <div *ngIf="productos.length > 0" class="productos-lista">
    <h2>Productos disponibles:</h2>

    <mat-grid-list cols="4">
      <mat-grid-tile *ngFor="let producto of productos">
        <mat-card class="producto-info">
          <img width="100px" height="100px" *ngIf="producto.foto" [src]="producto.foto"
              alt="Foto del producto">
          <p><strong>{{ producto.nombre }}</strong></p>
          <p>{{ producto.precio | currency }}</p>
          <button mat-raised-button color="primary" (click)="agregarAlCarrito(producto)">
            <mat-icon>add_shopping_cart</mat-icon>Agregar al carrito
          </button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
  <div *ngIf="productos.length === 0" class="sin-productos">
    <p>No hay productos disponibles.</p>
  </div>
</mat-card>